<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}To Do List{% endblock %}</title>
    <!-- Add your CSS and other head elements here -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'task_list' %}"><span style="color: #fff;">To Do List</span></a></h1>
        <a href="{% url 'login' %}">
            <button>Login</button>
        </a>
        <a href="{% url 'signup' %}">
            <button>Register</button>
        </a>
    </header>

    <main>
        {% block content %}
        <!-- This block will be overridden in child templates -->
        {% endblock %}
    </main>

    <footer>
        <!-- Your footer content goes here -->
    </footer>

    <!-- Add your scripts or other body elements here -->
</body>
</html>
